.navbar{
    background-color: rgb(28, 83, 119);
    display: block;
    height: 7vh;

}

.navbar a{
    float: right;
    padding: 2vh 2vh 2.5vh;
    text-decoration: none;
    font-size: 2vh;
    color: rgb(194, 206, 214);
}

.navbar a:first-child{
    margin-right: 5vh;
}

.navbar a:hover{
    background-color: rgba(36, 112, 163, 0.76);
}

.navbar span{
    border: 1px solid rgb(153, 53, 53);
    padding: 2px;
    border-radius: 100px;
    background-color: rgb(153, 53, 53);
}