<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/img/logofav.png" type="image/png" sizes="16x16">
<title><%= title -%></title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/<%- css%>">
<%if(pageType == 'Main'){%>
    <link rel="stylesheet" type="text/css" href="/css/navbar/navbarMain.css">
<%}else if(pageType == 'Admin'){%>
    <link rel="stylesheet" type="text/css" href="/css/navbar/navbarAdmin.css">
<%}%>